{% if error %}
  <p style="color:red">Error: missing values</p>
{% endif %}
<form method="post" action="/test">
 <p>
	<label for="text_id">
		Product ID: <input type="text" id="text_id" name="id" value="{{ old_id }}">
	</label>  
 </p>
 <p>
	<label for="text_value">
		Inventory: <input type="text" id="text_value" name="value" value="{{ old_value }}">
   	</label>
 <p>
 <p>
    <input type="Submit" value="Update">
 </p>
</form>
